/* Yild core */
.yild__clearAfter:after {
  clear: both;
  content: "";
  display: block;
}

.yild__tagsContainer, .yild__fieldset .yild__tagsContainer {
  margin: 0;
}

/* Yild buttons */
.yild__button {
  background-color: #aaa;
  border-radius: 5px;
  border: 1px solid #999;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 0.9em;
  padding: 0.2em 1em;
  text-align: center;
}

.yild__button:hover {
  background-color: #999;
  border: 1px solid #777;
  color: #555;
}

.yild__button--expandDescription {
  float: right;
}

.yild__button--remove {
  color: #999;
  cursor: pointer;
  float: right;
  font-size: 1.5em;
  margin-left: 0.3em;
}

div.yild__throbber {
  display: none;
  margin-bottom: 0.5em;
}

.yild__frequency {
  background-color: #668a19;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 0.7em;
  padding: 0 0.3em;
  margin: 0.1em 0.3em 0.1em 0;
  overflow: hidden;
  text-align: center;
  width: 30px;
}

/* Term pill buttons */
.yild__termButton, .yild__termButton--placeholder {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: move;
  float: left;
  padding: 0.2em 0.3em;
  font-size: 0.9em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  list-style-type: none;
}

.yild__termButtonPerson {
  background-color: #ead8e9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2397599b' viewBox='0 0 92.2 130.1'%3E%3Cpath d='M60 63.9C71.6 58.7 79.6 47 79.6 33.5 79.6 15 64.6 0 46.1 0S12.6 15 12.6 33.5c0 13.5 8 25.2 19.6 30.5C0 64.7 0 87.3 0 107.9v22.2h92.2v-22.2c0-20.6 0-43.2-32.2-44z'/%3E%3C/svg%3E");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 10px 20px;
  border-color: #97599b;
  padding-left: 21px;
}

.yild__termButtonPlace {
  background-color: #d8eae2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMax meet' fill='%23599b80' viewBox='0 0 212.2 343.3'%3E%3Cpath d='M106.4,0L106.4,0c-0.1,0-0.2,0-0.4,0c-0.1,0-0.2,0-0.4,0v0C46.9,0.5-10.4,38.9,1.6,114.2 c12.2,76.5,69.1,159.2,104.1,228.3l0.4,0.7l0.4-0.7c35-69.1,92-151.9,104.1-228.3C222.5,38.9,165.3,0.5,106.4,0z M106.1,176.2 c-39.7,0-71.9-32.2-71.9-71.9s32.2-71.9,71.9-71.9S178,64.6,178,104.3S145.8,176.2,106.1,176.2z'/%3E%3C/svg%3E");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  border-color: #599b80;
  padding-left: 20px;
}

.yild__termButtonLabel {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 250px;
}

.yild__termButtonLongdescription {
  display: none;
  font-size: 0.9em;
  color: #333;
}

.yild__frequency--termbutton {
  width: 40px;
  margin-right: 1em;
}

.yild__provider {
  background-color: #336699;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 0.7em;
  padding: 0 0.3em;
  margin: 0.1em 0.5em 0.1em 0;
  overflow: hidden;
  text-align: center;
  width: 60px;
}

/** Placeholder for dragging **/
.yild__termButton--placeholder {
  border: none;
  height: 1.8em;
  width: 7em;
}

.yild__termButton:hover {
  border: 1px solid #009900;
}

.yild__termButton--inactive {
  background-color: #ddd;
  border: 1px solid #ccc;
  color: #777;
  cursor: pointer;
  float: none;
  width: 100%;
  max-width: 100%;
}

/* Progress bar */
.yild__progressBar {
  background-color: #dedede;
  margin-bottom: 1em;
  width: 70%;
}

.yild__progressBar .bar {
  background-color: #990000;
  float: left;
  height: 20px;
  opacity: 0.7;
}

.yild__progressBar .bar:before {
  content: "☹";
  color: #fff;
  display: block;
  font-size: 1.5em;
  margin: 0 5px;
}

.yild__progressBar .bar-50 {
  background-color: #ffcc33;
}

.yild__progressBar .bar-100 {
  background-color: #009900;
}

.yild__progressBar .bar-100:before {
  content: "☺";
  color: #fff;
  display: block;
  font-size: 1.5em;
  margin: 0 5px;
}

/* Autosuggest */
.yild__autosuggestContainer {
  border: 1px dotted #ccc;
  background-color: #eee;
  padding: 1em;
}

.yild__autosuggestHeader {
  display: none;
  margin-bottom: 0.5em;
}

.yild__autosuggestContainer .yild__autosuggestSuggestionsContainer {
  margin: 0;
}

/* Autocomplete */
/* Make the width of the field less than 100% for vertical panes to make room for the popup infobox. */
/* We override overflow hidden so that Yild fields can show a second box to the
right of the autocomplete list. */
.yild__autocomplete, .yild__fieldset input.yild__autocomplete {
  width: 50%;
}

.yild__fieldset #autocomplete {
  overflow: visible;
}

.yild__textContainer {
  overflow: hidden;
  width: 100%;
}

.yild__autocompleteDescription {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #000;
  border-left: 1px solid #000;
  display: none;
  left: 100%;
  line-height: 1.5em;
  padding: 1em 1.5em 0 1.5em;
  position: absolute;
  top: 0;
  width: 100%;
  white-space: normal;
}

.yild__descriptionImage {
  border: 1px solid #999;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 150px;
}

.yild__autocompleteDescription h3 {
  border-bottom: 1px solid #ccc;
  color: #555;
  font-size: 1.1em;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.5em 0;
}

.yild__autocompleteDescription p {
  padding: 0;
  margin: 0 0 1em 0;
}

.yild__autocompleteDisambiguator {
  color: #555;
  font-style: italic;
}

li.selected .yild__autocompleteDisambiguator {
  color: #ccc;
}

li.selected .yild__autocompleteDescription {
  display: block;
}
